.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.form-container {
  display: flex;
}

.form {
  border: 1px solid black;
  border-radius: 5px;
}

.title {
  margin-bottom: 5px;
}
